.hide-children * { display: none; }

.drag {
  min-width: 200px;
}

.drag-handle { cursor: move; }

.drag-handle.fa { line-height: inherit; }

.drag.dragging, .ui-draggable-dragging {
  background-color: #fff;
  opacity:          0.7;
  border:           solid 1px #c0c0c0;
  padding:          10px;

  .context-hover { display: none; }
}

.drop {
  display: none;
}

.drop-target {
  display:          block;
  height:           30px;
  padding:          10px;
  border:           dashed 1px #c0c0c0;
  background-color: #ffd;

  .context-hover { display: none; }
}

.drop-target-hover {
  border-style:     solid;
  background-color: lighten($brand-success, 20%);
}

.context {
  font-weight:  normal;
  margin-right: 3px;
  float:        right;
  a { margin-right: 3px; }
}

.context-hidden {
  display: none;
}

.drop-overlay {
  text-align: center;
  height:     0;
  padding:    0;
  overflow:   hidden;
  border: 0 dashed;
  @include transition-property(all);
  @include transition-duration(250ms);
}

.drop-overlay-hover {
  border-style:     solid;
  background-color: rgba($brand-success, 0.1) !important;
  border-color:     $brand-success !important;
  color:            darken($brand-success, 15%) !important;
  padding:          15px;
  border-radius:    5px;
  height:           auto;
}

.drop-add {
  padding:          15px;
  border-radius:    5px;
  height:           auto;
  background-color: rgba(255, 255, 156, 0.5);
  border:           2px rgba(242, 183, 1, 1);
  color:            rgba(179, 130, 1, 1);
}

.drop-custom-add {
  padding:          15px;
  border-radius:    5px;
  height:           auto;
  background-color: rgba(255, 255, 156, 0.5);
  border:           2px rgba(242, 183, 1, 1);
  color:            rgba(179, 130, 1, 1);
}

.drop-group {
  padding:          15px;
  border-radius:    5px;
  height:           auto;
  background-color: rgba($brand-primary, 0.1);
  border:           2px $brand-primary;
  color:            darken($brand-primary, 15%);
}