.cd-wrapper {
//  margin: $padding-large-vertical 0;
}

.cd-wrapper * .cd-wrapper {
  margin-left: $padding-base-horizontal * 2;
}

.cd-header {
  padding: 4px 0;
  border-bottom: solid 1px $gray-lighter;
}

.cd-header.add, .cd-key.add {
  background-color: $state-success-bg;
  color: $state-success-text;
}

.cd-header.edit, .cd-key.edit {
  background-color: $state-warning-bg;
  color: $state-warning-text;
}

.cd-header.delete, .cd-key.delete {
  background-color: $state-danger-bg;
  color: $state-danger-text;
}

.cd-header:hover {
  background-color: $state-info-bg;
  color: $state-info-text;
}

.cd-header.selected {
  background-color: $state-warning-bg;
  color: $state-warning-text;
}

.cd-menu {
  z-index: 20;
}

.position-fixed { position: fixed; }