<div ng-class="key.guid">
	<div context-menu data-target="cd-key-menu-{{ key.guid }}">
		<div class="col-md-3">
			<a ng-click="editKey()" ng-hide="key.add"><i class="fa fa-fw"></i> {{ key.name }}</a>
			<input ng-show="key.add"
			       class="form-control"
			       type="text"
			       ng-model="key.new_name"
			       placeholder="Key"
			       ui-keydown="{'enter':'saveKey()', 'esc':'cancelKey()'}"/>
		</div>
		<div ng-show="key.edit || key.add" class="col-md-9">
			<input class="form-control"
			       type="text"
			       ng-model="key.new_value"
			       placeholder="Value"
			       ui-keydown="{'enter':'saveKey()', 'esc':'cancelKey()'}"/>
		</div>
		<div ng-hide="key.edit || key.add" class="col-md-8">
			<a ng-click="editKey()" ng-hide="key.edit || key.add" class="cd-key-value">{{ key.value }}</a>
		</div>
		<div ng-hide="key.edit || key.add" class="col-md-1 text-right">
			<i ng-if="key.dirty" class="fa fa-star"></i>
		</div>
		<div class="dropdown position-fixed cd-key-menu" id="cd-key-menu-{{ key.guid }}">
			<ul class="dropdown-menu" role="menu">
				<li>
					<a ng-if="!key.edit" ng-click="editKey()">
						<i class="fa fa-edit"></i> Edit
					</a>
					<a ng-if="key.edit" ng-click="cancelKey()">
						<i class="fa fa-ban"></i> Cancel
					</a>
				</li>
				<li ng-if="clipboard.dirty && clipboard.type ==='key'">
					<a ng-click="pasteKey(key, 0)">
						<i class="fa fa-fw fa-paste"></i> Paste before
					</a>
				</li>
				<li ng-if="clipboard.dirty && clipboard.type ==='key'">
					<a ng-click="pasteKey(key, 1)">
						<i class="fa fa-fw fa-paste"></i> Paste after
					</a>
				</li>
				<li>
					<a ng-click="cutKey(key)">
						<i class="fa fa-copy"></i> Cut
					</a>
				</li>
				<li>
					<a ng-click="copyKey(key)">
						<i class="fa fa-copy"></i> Copy
					</a>
				</li>
				<li>
					<a ng-click="delKey(key, data)">
						<i class="fa fa-times"></i> Delete
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>