<div class="col-md-12" ng-controller="HomeCtrl">
	<h1>Config Data</h1>

	<div class="row">
		<div class="col-md-6">
			<p>
				<button class="btn btn-info btn-sm" ng-click="addData(configdata)">Add data</button>
			</p>
		</div>
		<div class="col-md-6 text-right">
			<div class="btn-group btn-group-sm">
				<a class="btn btn-default" ng-click="toggle(true)"><i class="fa fa-plus-circle"></i> Expand All</a>
				<a class="btn btn-default" ng-click="toggle(false)"><i class="fa fa-minus-circle"></i> Collapse All</a>
			</div>
		</div>
	</div>

	<!--UITODO: remove this button-->
	<button class="btn btn-info btn-sm" ng-click="CDInfoToggle = !CDInfoToggle">Clipboard</button>
	<div collapse="!CDInfoToggle">
		<pre>{{ clipboard | json }}</pre>
	</div>

	<config-data data="configdata.data" showdata="true" clipboard="clipboard"></config-data>
</div>