<div>
	<div ng-repeat="d in data track by $index" ng-init="d.showdata = showdata">
		<div class="dropdown position-fixed cd-menu" id="cd-menu-{{ d.guid }}">
			<ul class="dropdown-menu" role="menu">
				<li><a ng-click="addData(d)"><i class="fa fa-fw fa-code"></i> Add data</a></li>
				<li><a ng-click="addKey(d)"><i class="fa fa-fw fa-key"></i> Add key/value</a></li>
				<li><a ng-click="copyData(d)"><i class="fa fa-fw fa-copy"></i> Copy</a></li>
				<li ng-if="clipboard.dirty" class="divider"></li>
				<li ng-if="clipboard.dirty">
					<a ng-click="pasteData(d, data, 0)">
						<i class="fa fa-fw fa-paste"></i> Paste before
					</a>
				</li>
				<li ng-if="clipboard.dirty">
					<a ng-click="pasteData(d, data, 1)">
						<i class="fa fa-fw fa-paste"></i> Paste after
					</a>
				</li>
				<li ng-if="clipboard.dirty">
					<a ng-click="pasteData(d, data, -1)">
						<i class="fa fa-fw fa-paste"></i> Paste into
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a ng-click="cutData(d, data)">
						<i class="fa fa-fw fa-cut"></i> Cut
					</a>
				</li>
				<li>
					<a ng-click="delData(d, data)">
						<span class="text-danger"><i class="fa fa-fw fa-times"></i> Delete</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="cd-wrapper">
			<div class="row cd-header pointer" ng-class="{'dirty':d.dirty}" context-menu data-target="cd-menu-{{ d.guid }}" ng-click="d.showdata = !d.showdata">
				<div class="col-md-11 config-data" ng-class="d.guid">
					<i class="fa fa-fw"
					   ng-class="{ 'fa-chevron-right':!d.showdata, 'fa-chevron-down':d.showdata }"></i>
					{{d.path}}
				</div>
				<div class="col-md-1 config-data text-right">
					<i ng-if="d.dirty" class="fa fa-star"></i>
				</div>
			</div>
			<!--data-->

			<div class="cd-body" collapse="!d.showdata">
				<div class="row cd-key"
				     ng-class="{'dirty':k.dirty}"
				     ng-repeat="k in d.keydata track by $index">
					<config-key key="k" data="d.keydata"></config-key>
				</div>

				<config-data data="d.data"></config-data>
			</div>
		</div>
	</div>
</div>