<div class="col-md-12">
	<h1>
		<span class="pointer"
		      editable-text="job.data.name"
		      buttons="no"
		      e-style="font-size:1em; height:auto; border-radius:0; border-top:none; border-right:none; border-left:none; box-shadow:none; padding:0;"
		      e-form="jobNameForm"
		      onaftersave="job.data.dirty=true"
		      ng-click="jobNameForm.$show()">{{ job.data.name || 'Enter job name' }}</span>
		<button class="btn btn-success btn-sm" ng-click="saveJob()">Apply Changes</button>
		<button class="btn btn-warning btn-sm">Return to {{ job.data.topo_nodes[0].TopoNode.name }}</button>
	</h1>

	<tabset>
		<tab select="updateJob()">
			<tab-heading>Servers</tab-heading>
			<job-servers job="job.data" columns="3"></job-servers>
		</tab>
		<tab select="updateJob()">
			<tab-heading>Activities</tab-heading>
			<job-activities job="job.data"></job-activities>
		</tab>
		<tab select="updateJob()">
			<tab-heading>Config Data</tab-heading>
			<br/>
			<config-data configdata="{ data:job.data.config }" job="job.data"></config-data>
		</tab>
		<tab select="updateJob()">
			<tab-heading>Preview</tab-heading>
			<job-preview preview="job.data.preview"></job-preview>
		</tab>
	</tabset>
</div>
